version: '3'
services:
  wsgi:
    build:
      context: .
      dockerfile: Dockerfile.wsgi
    volumes:
      - ./var:/code/var

  web:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "8000:80"
    depends_on:
      - wsgi

